<html>

<head>
    <title>Web App - Coursework 1</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="product.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="main.css">

    </link>

</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>
                {{cartitemCount}}
                <i class="fas fa-shopping-cart"></i>Checkout
            </button>
            <nav>
                <ul>
                    <li class="active"><button>Home</button></li>
                    <li><button>Checkout</button></li>
                </ul>
            </nav>

        </header>
        <main>
            <div v-if="showProduct">
                <div v-for="product in sortedProduct">
                    <!-- Products list -->
                    <div class="product-card">
                        <div class="product-tumb">
                            <img v-bind:src="product.image">
                        </div>
                        <div class="product-details">
                            <h2 v-text="product.title"></h2>
                            <p>
                                Location: {{product.location}}
                            </p>
                            <div class="product-bottom-details">
                                <div class="product-price">
                                    <p> Price: {{product.price}}</p>
                                    <p> Seats Remaining : {{product.availableSpace - cartCount(product.id)}} </p>
                                    <div class="buttons-coll">
                                    <button class="custom-btn btn-1" v-on:click="addtoCart(product)" v-if='canAddToCart(product)'>
                                        Apply
                                    </button>
                                    <!-- Checking Seats Remaining  using if else to display whether products sold out or are left to purchase -->
                                    <span v-if="product.availableSpace === cartCount(product.id)">
                                        All seats booked!
                                    </span>
                                    <span v-else-if="product.availableSpace - cartCount(product.id) < 5">
                                        only {{product.availableSpace - cartCount(product.id)}} seats left!
                                    </span>
                                    <span v-else>
                                       Book Now!
                                    </span>

                                    <button disabled='disabled' v-else>Apply for class</button>
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <script>
                var webstore = new Vue({
                    el: "#app",
                    data: {
                        sitename: "After School Classes",
                        product: product,
                        cart: [],
                        showProduct: true,
                    },
                    methods: {
                        addtoCart(product) {
                            this.cart.push(product.id);
                        },
                        showCheckout() {
                            this.showProduct = this.showProduct ? false : true;
                        },
                        submitForm() {
                            alert('Order Submitted!')
                        },
                        canAddToCart: function (product) {
                            return product.availableSpace > this.cartCount(product.id);
                        },
                        cartCount(id) {
                            let count = 0;
                            for (let i = 0; i < this.cart.length; i++) {
                                if (this.cart[i] === id) {
                                    count++;
                                }
                            }
                            return count;
                        },

                    },
                    computed: {

                        cartitemCount: function () {
                            return this.cart.length || '';
                        },
                        sortedProduct() {
                            let productsArray = this.product.slice(0);
                            function compare(a, b) {
                                if (a.price > b.price)
                                    return 1;
                                if (a.price < b.price)
                                    return -1;
                                return 0;
                            }
                            return productsArray.sort(compare);
                        },

                    },

                });
            </script>


</body>

</html>